<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
    <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>
    <!-- grid 20-80 -->
    <div class="d-grid grid-20-80 gap-1">
      <div class="grid-item text-center text-md">Column 1</div>
      <div class="grid-item text-center text-md">Column 2</div>
    </div>
    <!-- grid 30-70 -->
    <div class="d-grid grid-30-70 gap-1">
      <div class="grid-item text-center text-md">Column 1</div>
      <div class="grid-item text-center text-md">Column 2</div>
    </div>
    <!-- grid 50-50 -->
    <div class="d-grid grid-50-50 gap-1">
      <div class="grid-item text-center text-md">Column 1</div>
      <div class="grid-item text-center text-md">Column 2</div>
    </div>
    <!-- grid 3 column layout -->
    <div class="d-grid grid-3-column gap-1">
      <div class="grid-item text-center text-md">Column 1</div>
      <div class="grid-item text-center text-md">Column 2</div>
      <div class="grid-item text-center text-md">Column 3</div>
    </div>
  </body>
</html>
