<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>

    <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>
    <!-- vertical card -->
    <div class="card-wrapper vertical-card-wrapper">
      <div class="p-4">
        <img
          class="img-responsive"
          src="../../assets/monitor.jpg"
          alt="monitor image"
        />
      </div>
      <div class="p-3">
        <h2 class="headline-md">LG 22 inch (55 cm) IPS Monitor</h2>
      </div>
      <div class="p-3">
        <p class="text-sm">
          Experience the best of multitasking with all new LG 22MP68VQ-P Full HD
          IPS LED Monitor in India featuring Flicker and Reader mode for maximum
          visual comfort and ON screen controls for customized settings.
        </p>
        <div class="pt-3">
          <div class="product-price-wrapper">
            <span class="product-discount-price text-md font-wt-bold"
              >Rs. 7,999.00</span
            >
            <span class="product-original-price text-md ml-6"
              >Rs. 9,438.82</span
            >
          </div>
          <span class="product-discount font-wt-bold text-sm">Save 18%</span>
        </div>
      </div>
      <div class="p-3 d-flex justify-between">
        <button type="button" class="btn btn-primary rounded-sm text-sm p-5">
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
    </div>

    <!-- horizontal card -->
    <div class="card-wrapper horizontal-card-wrapper d-flex">
      <div class="p-4 container-center">
        <img
          class="img-responsive horizontal-card-img"
          src="../../assets/monitor.jpg"
          alt="monitor image"
        />
      </div>
      <div class="p-3">
        <h2 class="headline-md">LG 22 inch (55 cm) IPS Monitor</h2>

        <div class="pt-3">
          <div class="product-price-wrapper">
            <span class="product-discount-price text-md font-wt-bold"
              >Rs. 7,999.00</span
            >
            <span class="product-original-price text-md ml-6"
              >Rs. 9,438.82</span
            >
          </div>
          <span class="product-discount font-wt-bold text-sm">Save 18%</span>
        </div>

        <div class="horizontal-card-btns-wrapper p-3 d-flex flex-col">
          <button type="button" class="btn btn-primary rounded-sm text-sm p-5">
            <i class="fas fa-shopping-cart mr-3"></i>
            Add to Cart
          </button>
          <button
            type="button"
            class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3"
          >
            <i class="fas fa-heart mr-3"></i>
            Add to Wishlist
          </button>
        </div>
      </div>
    </div>

    <!-- card with badge -->
    <div class="card-wrapper vertical-card-wrapper">
      <span class="vertical-card-badge text-sm p-3 p-relative"
        >Best Seller</span
      >
      <div class="p-4">
        <img
          class="img-responsive"
          src="../../assets/monitor.jpg"
          alt="monitor image"
        />
      </div>
      <div class="p-3">
        <h2 class="headline-md">LG 22 inch (55 cm) IPS Monitor</h2>
      </div>
      <div class="p-3">
        <p class="text-sm">
          Experience the best of multitasking with all new LG 22MP68VQ-P Full HD
          IPS LED Monitor in India featuring Flicker and Reader mode for maximum
          visual comfort and ON screen controls for customized settings.
        </p>
        <div class="pt-3">
          <div class="product-price-wrapper">
            <span class="product-discount-price text-md font-wt-bold"
              >Rs. 7,999.00</span
            >
            <span class="product-original-price text-md ml-6"
              >Rs. 9,438.82</span
            >
          </div>
          <span class="product-discount font-wt-bold text-sm">Save 18%</span>
        </div>
      </div>
      <div class="p-3 d-flex justify-between">
        <button type="button" class="btn btn-primary rounded-sm text-sm p-5">
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
    </div>

    <!-- card with dismiss -->
    <div class="card-wrapper vertical-card-wrapper">
      <div class="close-icon-wrapper">
        <i class="fas fa-times-circle p-2 fa-3x"></i>
      </div>
      <div class="p-4">
        <img
          class="img-responsive"
          src="../../assets/monitor.jpg"
          alt="monitor image"
        />
      </div>
      <div class="p-3">
        <h2 class="headline-md">LG 22 inch (55 cm) IPS Monitor</h2>
      </div>
      <div class="p-3">
        <p class="text-sm">
          Experience the best of multitasking with all new LG 22MP68VQ-P Full HD
          IPS LED Monitor in India featuring Flicker and Reader mode for maximum
          visual comfort and ON screen controls for customized settings.
        </p>
        <div class="pt-3">
          <div class="product-price-wrapper">
            <span class="product-discount-price text-md font-wt-bold"
              >Rs. 7,999.00</span
            >
            <span class="product-original-price text-md ml-6"
              >Rs. 9,438.82</span
            >
          </div>
          <span class="product-discount font-wt-bold text-sm">Save 18%</span>
        </div>
      </div>
      <div class="p-3 d-flex justify-between">
        <button type="button" class="btn btn-primary rounded-sm text-sm p-5">
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
    </div>

    <!-- card with shadow -->
    <div class="card-wrapper vertical-card-wrapper box-shadow-lg">
      <div class="p-4">
        <img
          class="img-responsive"
          src="../../assets/monitor.jpg"
          alt="monitor image"
        />
      </div>
      <div class="p-3">
        <h2 class="headline-md">LG 22 inch (55 cm) IPS Monitor</h2>
      </div>
      <div class="p-3">
        <p class="text-sm">
          Experience the best of multitasking with all new LG 22MP68VQ-P Full HD
          IPS LED Monitor in India featuring Flicker and Reader mode for maximum
          visual comfort and ON screen controls for customized settings.
        </p>
        <div class="pt-3">
          <div class="product-price-wrapper">
            <span class="product-discount-price text-md font-wt-bold"
              >Rs. 7,999.00</span
            >
            <span class="product-original-price text-md ml-6"
              >Rs. 9,438.82</span
            >
          </div>
          <span class="product-discount font-wt-bold text-sm">Save 18%</span>
        </div>
      </div>
      <div class="p-3 d-flex justify-between">
        <button type="button" class="btn btn-primary rounded-sm text-sm p-5">
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
    </div>

    <!-- card with text-overlay -->
    <div class="card-wrapper vertical-card-wrapper p-relative">
      <div class="p-4">
        <img
          class="img-responsive"
          src="../../assets/monitor.jpg"
          alt="monitor image"
        />
      </div>
      <div class="p-3">
        <h2 class="headline-md">LG 22 inch (55 cm) IPS Monitor</h2>
      </div>
      <div class="p-3">
        <p class="text-sm">
          Experience the best of multitasking with all new LG 22MP68VQ-P Full HD
          IPS LED Monitor in India featuring Flicker and Reader mode for maximum
          visual comfort and ON screen controls for customized settings.
        </p>
        <div class="pt-3">
          <div class="product-price-wrapper">
            <span class="product-discount-price text-md font-wt-bold"
              >Rs. 7,999.00</span
            >
            <span class="product-original-price text-md ml-6"
              >Rs. 9,438.82</span
            >
          </div>
          <span class="product-discount font-wt-bold text-sm">Save 18%</span>
        </div>
      </div>
      <div class="p-3 d-flex justify-between">
        <button type="button" class="btn btn-primary rounded-sm text-sm p-5">
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
      <div
        class="text-overlay-container p-absolute w-100 h-100 container-center"
      >
        <span class="text-overlay text-uppercase text-lg p-5 rounded-md"
          >Out of Stock</span
        >
      </div>
    </div>

    <!-- text only card -->
    <div class="card-wrapper vertical-card-wrapper">
      <div class="p-3">
        <h2 class="headline-md">LG 22 inch (55 cm) IPS Monitor</h2>
      </div>
      <div class="p-3">
        <p class="text-sm">
          Experience the best of multitasking with all new LG 22MP68VQ-P Full HD
          IPS LED Monitor in India featuring Flicker and Reader mode for maximum
          visual comfort and ON screen controls for customized settings.
        </p>
        <div class="pt-3">
          <div class="product-price-wrapper">
            <span class="product-discount-price text-md font-wt-bold"
              >Rs. 7,999.00</span
            >
            <span class="product-original-price text-md ml-6"
              >Rs. 9,438.82</span
            >
          </div>
          <span class="product-discount font-wt-bold text-sm">Save 18%</span>
        </div>
      </div>
      <div class="p-3 d-flex justify-between">
        <button type="button" class="btn btn-primary rounded-sm text-sm p-5">
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
    </div>
  </body>
</html>
