<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>

    <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>
    <!-- vertical card -->
    <div class="card-wrapper product-card">
      <div class="px-4">
        <img
          class="img-responsive d-block m-auto pt-4 product-card-img"
          src="../../assets/monitor.png"
          alt="headphone"
        />
      </div>
      <div class="p-2">
        <p class="font-wt-bold text-center text-sm">
          Redgear Wired Gaming Headphones with RGB LED Effect
        </p>
      </div>
      <div class="px-8 py-2">
        <div class="product-price-wrapper">
          <span class="product-discount-price text-sm font-wt-bold"
            >Rs. 1,790.00</span
          >
          <span class="product-original-price text-sm ml-6">Rs. 2,999.00</span>
        </div>
        <span class="product-discount font-wt-bold text-sm">Save 40%</span>
      </div>
      <div class="card-btns-wrapper p-3 d-flex flex-col">
        <button
          type="button"
          class="btn btn-primary rounded-sm text-sm p-5 mx-4"
        >
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3 mx-4"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
    </div>

    <!-- horizontal card -->
    <!-- variant 1 -->
    <div class="card-wrapper product-card horizontal-card-wrapper d-flex">
      <div class="p-4 container-center">
        <img
          class="img-responsive horizontal-card-img"
          src="../../assets/monitor.png"
          alt="monitor image"
        />
      </div>
      <div class="p-3">
        <h2 class="cart-product-heading">LG 22 inch (55 cm) IPS Monitor</h2>

        <div class="pt-3">
          <div class="product-price-wrapper">
            <span class="product-discount-price text-sm font-wt-bold"
              >Rs. 7,999.00</span
            >
            <span class="product-original-price text-sm ml-6"
              >Rs. 9,438.82</span
            >
          </div>
          <span class="product-discount font-wt-bold text-sm">Save 18%</span>
        </div>

        <div class="horizontal-card-btns-wrapper p-3 d-flex flex-col">
          <button type="button" class="btn btn-primary rounded-sm text-sm p-3">
            <i class="fas fa-shopping-cart mr-3"></i>
            Add to Cart
          </button>
          <button
            type="button"
            class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3"
          >
            <i class="fas fa-heart mr-3"></i>
            Add to Wishlist
          </button>
        </div>
      </div>
    </div>
    <!-- variant 2 -->
    <div class="card-wrapper d-flex mt-4">
      <div class="p-4 container-center">
        <img
          class="img-responsive horizontal-card-img w-75"
          src="../../assets/monitor.png"
          alt="monitor image"
        />
      </div>
      <div class="p-3 w-100">
        <div class="product-info-wrapper">
          <h2 class="cart-product-heading">LG 22 inch (55 cm) IPS Monitor</h2>

          <div class="pt-3">
            <div class="product-price-wrapper">
              <span class="product-discount-price text-sm font-wt-bold"
                >Rs. 7,999.00</span
              >
              <span class="product-original-price text-sm ml-6"
                >Rs. 9,438.82</span
              >
            </div>
            <span class="product-discount font-wt-bold text-sm">Save 18%</span>
          </div>
        </div>

        <div class="d-flex my-2 cart-action-container">
          <div class="d-flex align-center quantity-btn-container">
            <button
              type="button"
              class="btn btn-quantity btn-primary rounded-full"
            >
              <i class="fas fa-plus text-sm"></i>
            </button>
            <span class="text-sm mx-2 font-wt-semibold">1</span>
            <button
              type="button"
              class="btn btn-quantity btn-outline btn-primary-outline rounded-full"
            >
              <i class="fas fa-minus text-sm"></i>
            </button>
          </div>
          <div class="d-flex w-100 my-4 cart-btn-wrapper">
            <button
              type="button"
              class="btn btn-remove btn-outline btn-primary-outline rounded-sm text-sm p-3"
            >
              <i class="fas fa-trash mr-3"></i>
              Remove
            </button>
            <button
              type="button"
              class="btn btn-primary rounded-sm text-sm p-3 ml-auto"
            >
              <i class="fas fa-heart mr-3"></i>
              Move to Wishlist
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- card with badge -->
    <div class="card-wrapper product-card">
      <span class="vertical-card-badge text-sm p-3 p-relative"
        >Best Seller</span
      >
      <div class="px-4">
        <img
          class="img-responsive d-block m-auto pt-4 product-card-img"
          src="../../assets/monitor.png"
          alt="headphone"
        />
      </div>
      <div class="p-2">
        <p class="font-wt-bold text-center text-sm">
          Redgear Wired Gaming Headphones with RGB LED Effect
        </p>
      </div>
      <div class="px-8 py-2">
        <div class="product-price-wrapper">
          <span class="product-discount-price text-sm font-wt-bold"
            >Rs. 1,790.00</span
          >
          <span class="product-original-price text-sm ml-6">Rs. 2,999.00</span>
        </div>
        <span class="product-discount font-wt-bold text-sm">Save 40%</span>
      </div>
      <div class="card-btns-wrapper p-3 d-flex flex-col">
        <button
          type="button"
          class="btn btn-primary rounded-sm text-sm p-5 mx-4"
        >
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3 mx-4"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
    </div>

    <!-- card with dismiss -->
    <button
      type="button"
      class="btn rounded-sm text-sm p-3 btn-primary reset-dismissed-card"
    >
      Reset
    </button>
    <div class="card-wrapper dismiss-card-wrapper product-card">
      <div class="close-icon-wrapper">
        <i class="fas fa-times-circle p-2 fa-3x"></i>
      </div>
      <div class="px-4">
        <img
          class="img-responsive d-block m-auto pt-4 product-card-img"
          src="../../assets/monitor.png"
          alt="headphone"
        />
      </div>
      <div class="p-2">
        <p class="font-wt-bold text-center text-sm">
          Redgear Wired Gaming Headphones with RGB LED Effect
        </p>
      </div>
      <div class="px-8 py-2">
        <div class="product-price-wrapper">
          <span class="product-discount-price text-sm font-wt-bold"
            >Rs. 1,790.00</span
          >
          <span class="product-original-price text-sm ml-6">Rs. 2,999.00</span>
        </div>
        <span class="product-discount font-wt-bold text-sm">Save 40%</span>
      </div>
      <div class="card-btns-wrapper p-3 d-flex flex-col">
        <button
          type="button"
          class="btn btn-primary rounded-sm text-sm p-5 mx-4"
        >
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3 mx-4"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
    </div>

    <!-- card with shadow -->
    <div class="card-wrapper product-card box-shadow-lg">
      <div class="px-4">
        <img
          class="img-responsive d-block m-auto pt-4 product-card-img"
          src="../../assets/monitor.png"
          alt="headphone"
        />
      </div>
      <div class="p-2">
        <p class="font-wt-bold text-center text-sm">
          Redgear Wired Gaming Headphones with RGB LED Effect
        </p>
      </div>
      <div class="px-8 py-2">
        <div class="product-price-wrapper">
          <span class="product-discount-price text-sm font-wt-bold"
            >Rs. 1,790.00</span
          >
          <span class="product-original-price text-sm ml-6">Rs. 2,999.00</span>
        </div>
        <span class="product-discount font-wt-bold text-sm">Save 40%</span>
      </div>
      <div class="card-btns-wrapper p-3 d-flex flex-col">
        <button
          type="button"
          class="btn btn-primary rounded-sm text-sm p-5 mx-4"
        >
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3 mx-4"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
    </div>

    <!-- card with text-overlay -->
    <div class="card-wrapper product-card p-relative">
      <div class="px-4">
        <img
          class="img-responsive d-block m-auto pt-4 product-card-img"
          src="../../assets/monitor.png"
          alt="headphone"
        />
      </div>
      <div class="p-2">
        <p class="font-wt-bold text-center text-sm">
          Redgear Wired Gaming Headphones with RGB LED Effect
        </p>
      </div>
      <div class="px-8 py-2">
        <div class="product-price-wrapper">
          <span class="product-discount-price text-sm font-wt-bold"
            >Rs. 1,790.00</span
          >
          <span class="product-original-price text-sm ml-6">Rs. 2,999.00</span>
        </div>
        <span class="product-discount font-wt-bold text-sm">Save 40%</span>
      </div>
      <div class="card-btns-wrapper p-3 d-flex flex-col">
        <button
          type="button"
          class="btn btn-primary rounded-sm text-sm p-5 mx-4"
        >
          <i class="fas fa-shopping-cart mr-3"></i>
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3 mx-4"
        >
          <i class="fas fa-heart mr-3"></i>
          Add to Wishlist
        </button>
      </div>
      <div
        class="text-overlay-container p-absolute w-100 h-100 container-center"
      >
        <span class="text-overlay text-uppercase text-md p-5 rounded-md"
          >Out of Stock</span
        >
      </div>
    </div>

    <!-- text only card -->
    <div class="card-wrapper product-card">
      <div class="p-2">
        <h2 class="text-center headline-md">Card header</h2>
      </div>
      <div class="px-8 py-2">
        <p class="text-sm">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores,
          corrupti unde. Perspiciatis eos sunt temporibus nulla atque soluta
          saepe inventore necessitatibus dolorem aperiam alias placeat, eveniet
          quos sint nisi dignissimos!
        </p>
      </div>
    </div>
    <script src="./card.js"></script>
  </body>
</html>
