:root {
  --text-overlay-bg: #00000040;
}
.card-wrapper {
  border: 1px solid var(--secondary-dark-color);
  background: var(--white-color);
}
.vertical-card-wrapper {
  width: 35rem;
}
.product-discount {
  color: var(--success-color);
}
.product-original-price {
  text-decoration: line-through;
  color: var(--secondary-dark-color);
}
.horizontal-card-wrapper {
  width: 55rem;
}
.horizontal-card-img {
  width: 22rem;
}
.horizontal-card-btns-wrapper {
  gap: 1rem;
}
.vertical-card-badge {
  background-color: var(--success-color);
  color: var(--dark-text-color);
  top: 5px;
}
.close-icon-wrapper {
  text-align: right;
}
.text-overlay-container {
  top: 0;
  background-color: var(--text-overlay-bg);
}
.text-overlay {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
}

.reset-dismissed-card {
  display: none;
}
