<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="../../styles/main.css" />
    <link rel="stylesheet" href="./button.css" />
  </head>
  <body>
    <!-- normal buttons -->
    <button type="button" class="btn btn-primary rounded-sm text-sm p-3">
      Primary
    </button>
    <button type="button" class="btn btn-danger rounded-sm text-sm p-3">
      Danger
    </button>
    <button type="button" class="btn btn-success rounded-sm text-sm p-3">
      Success
    </button>
    <button
      class="btn btn-primary rounded-sm text-sm p-3"
      disabled
    >
      Disabled
    </button>

    <!-- large buttons -->
    <button type="button" class="btn btn-primary rounded-sm text-md p-5">
      Primary
    </button>
    <button type="button" class="btn btn-danger rounded-sm text-md p-5">
      Danger
    </button>
    <button type="button" class="btn btn-success rounded-sm text-md p-5">
      Success
    </button>
    <button
      class="btn btn-primary rounded-sm text-md p-5"
      disabled
    >
      Disabled
    </button>

    <!-- outlined buttons -->
    <button
      type="button"
      class="btn btn-outline btn-primary-outline rounded-sm text-sm p-3"
    >
      Primary
    </button>
    <button
      type="button"
      class="btn btn-outline btn-danger-outline rounded-sm text-sm p-3"
    >
      Danger
    </button>
    <button
      type="button"
      class="btn btn-outline btn-success-outline rounded-sm text-sm p-3"
    >
      Success
    </button>
    <!-- link button -->
    <button type="button" class="btn btn-link p-3 text-sm rounded-sm">
      <a href="#">Link Butoon</a>
    </button>

    <!-- icon button -->
    <button type="button" class="btn btn-icon">
      <i class="fas fa-heart text-md"></i>
    </button>
    <button type="button" class="btn btn-icon">
      <i class="fas fa-shopping-cart text-md"></i>
    </button>
    <button type="button" class="btn btn-icon">
      <i class="fas fa-trash text-md"></i>
    </button>

    <!-- button with label and icon -->
    <button type="button" class="btn btn-primary p-4 rounded-sm">
      <i class="fas fa-bolt mr-2"></i> Buy now
    </button>
    <button
      type="button"
      class="btn btn-outline btn-primary-outline p-4 rounded-sm"
    >
      <i class="fas fa-shopping-cart mr-2"></i> Add To Cart
    </button>

    <!-- floating button -->
    <button
      type="button"
      class="btn btn-primary btn-floating p-4 rounded-full box-shadow-lg"
    >
      <i class="fas fa-plus text-md"></i>
    </button>
    <button
      type="button"
      class="btn btn-primary btn-floating p-4 rounded-full box-shadow-lg"
    >
      <i class="fas fa-trash text-md"></i>
    </button>
    <button
      type="button"
      class="btn btn-primary btn-floating p-4 rounded-full box-shadow-lg"
    >
      <i class="fas fa-share text-md"></i>
    </button>
  </body>
</html>
