<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>

    <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>
    <div class="avatar-lg">
      <img
        class="img-responsive img-round rounded-full"
        src="https://i.pravatar.cc?img=2"
      />
    </div>

    <div class="avatar-md">
      <img
        class="img-responsive img-round rounded-full"
        src="https://i.pravatar.cc?img=2"
      />
    </div>
    <div class="avatar-sm">
      <img
        class="img-responsive img-round rounded-full"
        src="https://i.pravatar.cc?img=2"
      />
    </div>
    <div class="avatar-xs">
      <img
        class="img-responsive img-round rounded-full"
        src="https://i.pravatar.cc?img=2"
      />
    </div>

    <div class="avatar-lg avatar-text rounded-full text-xl d-flex justify-center align-center">
       <span>VF</span>
    </div>
    <div class="avatar-md avatar-text rounded-full text-lg d-flex justify-center align-center">
       <span>VF</span>
    </div>
     <div class="avatar-sm avatar-text rounded-full text-md d-flex justify-center align-center">
       <span>VF</span>
    </div>
     <div class="avatar-xs avatar-text rounded-full text-sm d-flex justify-center align-center">
       <span>VF</span>
    </div>
  </body>
</html>
