.toast{
    width: fit-content;
    position: fixed;
    right: 2rem;
    top: 5rem;
}
#toast-success{
    background-color: var(--success-color);
    color:var(--white-color);
}
#toast-error{
    background-color: var(--danger-color);
    color:var(--white-color);
}
.btn-toast-close{
    color: var(--white-color);
}


@media (max-width: 884px){
    .toast{
        top:8rem;
    }
}