<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>
    
    <!-- stacked list -->
    <ul class="list p-8">
      <li class="list-item">
        <div class="p-4">
          <div class="d-flex align-center text-sm">
            <div class="avatar-sm">
              <img
                class="img-responsive img-round rounded-full"
                src="https://i.pravatar.cc?img=32"
              />
            </div>
            <div class="ml-4">
              <h3 class="headline-md">John Doe</h3>
              <p class="text-sm">@johndoe</p>
            </div>
          </div>
          <p class="text-sm">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            dolore earum ducimus quaerat perferendis natus itaque beatae quae et
            assumenda id quo eius facere, illum excepturi sapiente ipsam. Iste,
            quos.
          </p>
        </div>
      </li>
       <li class="list-item">
        <div class="p-4">
          <div class="d-flex align-center text-sm">
            <div class="avatar-sm">
              <img
                class="img-responsive img-round rounded-full"
                src="https://i.pravatar.cc?img=32"
              />
            </div>
            <div class="ml-4">
              <h3 class="headline-md">John Doe</h3>
              <p class="text-sm">@johndoe</p>
            </div>
          </div>
          <p class="text-sm">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            dolore earum ducimus quaerat perferendis natus itaque beatae quae et
            assumenda id quo eius facere, illum excepturi sapiente ipsam. Iste,
            quos.
          </p>
        </div>
      </li>
       <li class="list-item">
        <div class="p-4">
          <div class="d-flex align-center text-sm">
            <div class="avatar-sm">
              <img
                class="img-responsive img-round rounded-full"
                src="https://i.pravatar.cc?img=32"
              />
            </div>
            <div class="ml-4">
              <h3 class="headline-md">John Doe</h3>
              <p class="text-sm">@johndoe</p>
            </div>
          </div>
          <p class="text-sm">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            dolore earum ducimus quaerat perferendis natus itaque beatae quae et
            assumenda id quo eius facere, illum excepturi sapiente ipsam. Iste,
            quos.
          </p>
        </div>
      </li>
    </ul>

    <!-- spaced list -->
    <ul class="list p-8">
      <li class="list-item mt-4">
        <div class="p-4">
          <div class="d-flex align-center text-sm">
            <div class="avatar-sm">
              <img
                class="img-responsive img-round rounded-full"
                src="https://i.pravatar.cc?img=32"
              />
            </div>
            <div class="ml-4">
              <h3 class="headline-md">John Doe</h3>
              <p class="text-sm">@johndoe</p>
            </div>
          </div>
          <p class="text-sm">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            dolore earum ducimus quaerat perferendis natus itaque beatae quae et
            assumenda id quo eius facere, illum excepturi sapiente ipsam. Iste,
            quos.
          </p>
        </div>
      </li>
       <li class="list-item mt-4">
        <div class="p-4">
          <div class="d-flex align-center text-sm">
            <div class="avatar-sm">
              <img
                class="img-responsive img-round rounded-full"
                src="https://i.pravatar.cc?img=32"
              />
            </div>
            <div class="ml-4">
              <h3 class="headline-md">John Doe</h3>
              <p class="text-sm">@johndoe</p>
            </div>
          </div>
          <p class="text-sm">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            dolore earum ducimus quaerat perferendis natus itaque beatae quae et
            assumenda id quo eius facere, illum excepturi sapiente ipsam. Iste,
            quos.
          </p>
        </div>
      </li>
       <li class="list-item mt-4">
        <div class="p-4">
          <div class="d-flex align-center text-sm">
            <div class="avatar-sm">
              <img
                class="img-responsive img-round rounded-full"
                src="https://i.pravatar.cc?img=32"
              />
            </div>
            <div class="ml-4">
              <h3 class="headline-md">John Doe</h3>
              <p class="text-sm">@johndoe</p>
            </div>
          </div>
          <p class="text-sm">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            dolore earum ducimus quaerat perferendis natus itaque beatae quae et
            assumenda id quo eius facere, illum excepturi sapiente ipsam. Iste,
            quos.
          </p>
        </div>
      </li>
    </ul>
  </body>
</html>
