<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation</title>
    <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>
    <!-- simple navbar -->
    <header class="navbar-wrapper d-flex flex-wrap align-center box-shadow-lg">
      <h1 class="brand headline-lg m-4">Brand</h1>
      <nav class="ml-auto">
        <ul class="d-flex text-sm">
          <li class="nav-link-item mx-8 font-wt-bold">Home</li>
          <li class="nav-link-item mx-8 font-wt-bold">Profile</li>
          <li class="nav-link-item mx-8 font-wt-bold">Cart</li>
          <li class="nav-link-item mx-8 font-wt-bold">Wishlist</li>
        </ul>
      </nav>
    </header>

    <!-- navbar with search bar -->
    <header
      class="navbar-wrapper d-flex align-center justify-around box-shadow-lg"
    >
      <h1 class="brand headline-lg p-4">Brand</h1>
      <div class="search-box d-flex align-center justify-between my-4 w-50">
        <input
          type="text"
          class="search-input w-100 p-2 m-2 text-sm"
          placeholder="Search for products..."
          required
        />
        <button type="submit" class="btn btn-icon p-4">
          <i class="fas fa-search text-md"></i>
        </button>
      </div>
      <nav class="">
        <ul class="d-flex text-sm">
          <li class="nav-link-item mx-8 font-wt-bold">Home</li>
          <li class="nav-link-item mx-8 font-wt-bold">Profile</li>
          <li class="nav-link-item mx-8 font-wt-bold">Cart</li>
          <li class="nav-link-item mx-8 font-wt-bold">Wishlist</li>
        </ul>
      </nav>
    </header>

    <!-- navbar with button and search bar -->
    <header
      class="navbar-wrapper d-flex align-center justify-around box-shadow-lg"
    >
      <h1 class="brand headline-lg p-4">Brand</h1>
      <div class="search-box d-flex align-center justify-between my-4 w-50">
        <input
          type="text"
          class="search-input w-100 p-2 m-2 text-sm"
          placeholder="Search for products..."
          required
        />
        <button type="submit" class="btn btn-icon p-4">
          <i class="fas fa-search text-md"></i>
        </button>
      </div>
      <button type="button" class="btn btn-primary rounded-sm text-sm p-4">
        Login
      </button>
      <button
        type="button"
        class="btn btn-outline btn-primary-outline rounded-sm text-sm p-4"
      >
        Wishlist
      </button>
    </header>

    <!-- navbar with icon buttons and search bar -->
    <header
      class="navbar-wrapper d-flex align-center justify-around box-shadow-lg"
    >
      <h1 class="brand headline-lg p-4">Brand</h1>
      <div class="search-box d-flex align-center justify-between my-4 w-50">
        <input
          type="text"
          class="search-input w-100 p-2 m-2 text-sm"
          placeholder="Search for products..."
          required
        />
        <button type="submit" class="btn btn-icon p-4">
          <i class="fas fa-search text-md"></i>
        </button>
      </div>
      <ul class="nav-links d-flex align-center">
        <li>
          <button type="button" class="btn btn-primary rounded-sm text-sm p-4">
            Login
          </button>
        </li>
        <li class="p-relative text-md icon-badge-wrapper m-4">
          <i class="fas fa-shopping-cart"></i>
          <span
            class="badge icon-badge-position text-sm font-wt-bold rounded-full p-absolute"
            >5</span
          >
        </li>
        <li class="p-relative text-md icon-badge-wrapper m-4">
          <i class="fas fa-heart"></i>
          <span
            class="badge icon-badge-position text-sm font-wt-bold rounded-full p-absolute"
            >7</span
          >
        </li>
      </ul>
    </header>

    <!-- Hamburger Navigation -->
    <header
      class="navbar-wrapper d-flex align-center justify-around box-shadow-lg"
    >
      <a
        class="brand-name text-dec-none headline-lg font-wt-bold p-4"
        href="#"
        >Gamers Zone</a
      >
      <button id="hamburger-btn" class="btn text-md ml-auto mr-8 p-4">
        <i class="fas fa-bars hamburger-icon"></i>
      </button>
      <section id="nav-menu-without-hamburger" class="d-flex">
        <div class="search-box d-flex align-center justify-between my-8 w-50">
          <input
            type="text"
            class="search-input p-2 m-2 text-sm"
            placeholder="Search for products..."
            required
          />
          <button type="submit" class="btn btn-icon p-4">
            <i class="fas fa-search text-md"></i>
          </button>
        </div>
        <nav class="nav-links d-flex align-center">
          <a
            href="#"
            class="btn text-dec-none btn-primary rounded-sm text-sm p-4 ml-4"
          >
            Signup
          </a>

          <a
            class="nav-link-icon p-relative icon-badge-wrapper m-3 d-flex flex-col align-center text-dec-none"
            href="#"
          >
            <i class="fas fa-store text-md"></i>
            <span class="nav-link-description text-sm">Products</span>
          </a>
          <a
            class="nav-link-icon icon-badge-wrapper m-3 d-flex flex-col align-center text-dec-none"
            href="#"
          >
            <span class="p-relative"
              ><i class="fas fa-shopping-cart text-md"></i>
              <span
                class="badge icon-badge-position text-sm font-wt-bold rounded-full p-absolute"
                >5</span
              ></span
            >
            <span class="nav-link-description text-sm">Cart</span>
          </a>
          <a
            class="nav-link-icon icon-badge-wrapper m-3 d-flex flex-col align-center text-dec-none"
            href="#"
          >
            <span class="p-relative">
              <i class="fas fa-heart text-md"></i>
              <span
                class="badge icon-badge-position text-sm font-wt-bold rounded-full p-absolute"
                >7</span
              ></span
            >
            <span class="nav-link-description text-sm">Wishlist</span>
          </a>
        </nav>
      </section>
    </header>

    <!-- hamburger nav menu -->
    <section id="hamburger-nav-menu" class="d-none p-8">
      <div class="d-flex align-center justify-center">
        <div
          class="search-box ml-8 d-flex align-center justify-between my-8 w-50"
        >
          <input
            type="text"
            class="search-input p-2 m-2 text-sm"
            placeholder="Search for products..."
            required
          />
          <button type="submit" class="btn btn-search btn-icon p-4 p-relative">
            <i class="fas fa-search text-md"></i>
          </button>
        </div>
        <div class="ml-8">
          <a
            href="#"
            class="btn text-dec-none btn-primary rounded-sm text-sm p-4 mr-4"
          >
            Signup
          </a>
        </div>
      </div>
      <nav class="nav-links">
        <div class="d-flex ml-4 justify-around">
          <a
            class="nav-link-icon p-relative icon-badge-wrapper m-3 d-flex align-center text-dec-none"
            href="#"
          >
            <i class="fas fa-store text-md"></i>
            <span class="nav-link-description text-sm ml-6">Products</span>
          </a>
          <a
            class="nav-link-icon icon-badge-wrapper m-3 d-flex align-center text-dec-none"
            href="#"
          >
            <span class="p-relative"
              ><i class="fas fa-shopping-cart text-md"></i>
              <span
                class="badge icon-badge-position text-sm font-wt-bold rounded-full p-absolute"
                >5</span
              ></span
            >
            <span class="nav-link-description text-sm ml-6">Cart</span>
          </a>
          <a
            class="nav-link-icon icon-badge-wrapper m-3 d-flex align-center text-dec-none"
            href="#"
          >
            <span class="p-relative">
              <i class="fas fa-heart text-md"></i>
              <span
                class="badge icon-badge-position text-sm font-wt-bold rounded-full p-absolute"
                >7</span
              ></span
            >
            <span class="nav-link-description text-sm ml-6">Wishlist</span>
          </a>
        </div>
      </nav>
    </section>

    <script src="./navigation.js"></script>
  </body>
</html>
