<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating</title>
    <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>
    <div class="rating-container text-md">
      <input type="checkbox" id="star-1" checked disabled />
      <label for="star-1" class="fas fa-star rating-checked"></label>
      <input type="checkbox" id="star-2" checked disabled />
      <label for="star-2" class="fas fa-star rating-checked"></label>
      <input type="checkbox" id="star-3" checked disabled />
      <label for="star-3" class="fas fa-star rating-checked"></label>
      <input type="checkbox" id="star-4" disabled />
      <label for="star-4" class="fas fa-star rating-unchecked"></label>
      <input type="checkbox" id="star-5" disabled />
      <label for="star-5" class="fas fa-star rating-unchecked"></label>
    </div>
  </body>
</html>
