/* badge on avatar */
.badge-status {
  width: 2rem;
  height: 2rem;
  border: solid 1px var(--white-color);
}
.badge-lg-position {
  bottom: 1rem;
  right: -2px;
}
.badge-status-online {
  background-color: var(--success-color);
}
.badge-md-position {
  bottom: 1rem;
  right: -4px;
}
.badge-status-offline {
  background-color: var(--secondary-dark-color);
}
.badge-sm-position {
  bottom: 0;
  right: -3px;
}
.badge-status-dnd {
  background-color: var(--danger-color);
}
.badge-xs-position {
  bottom: -0.5rem;
  right: -6px;
}
.badge-status-idle {
  background-color: var(--warning-color);
}

/* badge on text */
.badge {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0 7px;
  width: 2.5rem;
  height: 2.5rem;
}
.heading-badge-position {
  bottom: 2rem;
}
.text-badge-position {
  bottom: 1rem;
}

.btn-badge-position {
  top: -1rem;
}
.icon-badge-wrapper {
  width: fit-content;
}
.icon-badge-position {
  top: -1rem;
  right: -1.8rem;
}
