<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge</title>

    <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>
    <!-- avatar badges -->
    <div class="avatar-lg p-relative">
      <img
        class="img-responsive img-round rounded-full"
        src="https://i.pravatar.cc?img=2"
      />
      <span
        class="badge-status badge-lg-position badge-status-online rounded-full d-inline-block p-absolute"
      ></span>
    </div>

    <div class="avatar-md p-relative">
      <img
        class="img-responsive img-round rounded-full"
        src="https://i.pravatar.cc?img=2"
      />
      <span
        class="badge-status badge-md-position badge-status-offline rounded-full d-inline-block p-absolute"
      ></span>
    </div>

    <div class="avatar-sm p-relative">
      <img
        class="img-responsive img-round rounded-full"
        src="https://i.pravatar.cc?img=2"
      />
      <span
        class="badge-status badge-sm-position badge-status-dnd rounded-full d-inline-block p-absolute"
      ></span>
    </div>

    <div class="avatar-xs p-relative">
      <img
        class="img-responsive img-round rounded-full"
        src="https://i.pravatar.cc?img=2"
      />
      <span
        class="badge-status badge-xs-position badge-status-idle rounded-full d-inline-block p-absolute"
      ></span>
    </div>
    <!-- text badges -->
    <h1>
      <span class="p-relative headline-lg"
        >Heading with a badge<span
          class="badge heading-badge-position p-absolute rounded-full text-sm font-wt-bold"
          >4</span
        ></span
      >
    </h1>

    <p>
      <span class="p-relative text-sm"
        >Text with a badge<span
          class="badge text-badge-position p-absolute rounded-full text-sm font-wt-bold"
          >4</span
        ></span
      >
    </p>
    <!-- button badges -->
    <button type="button" class="btn btn-success p-3 rounded-sm p-relative">
      <span class="text-sm">Action</span>
      <span
        class="badge btn-badge-position text-sm font-wt-bold rounded-full p-absolute"
        >8</span
      >
    </button>

    <button type="button" class="btn btn-success p-5 rounded-sm p-relative">
      <span class="text-md">Action</span>
      <span
        class="badge btn-badge-position text-sm font-wt-bold rounded-full p-absolute"
        >5</span
      >
    </button>
    <!-- icon badges -->
    <div class="p-relative text-md icon-badge-wrapper">
      <i class="fas fa-shopping-cart"></i>
      <span
        class="badge icon-badge-position text-sm font-wt-bold rounded-full p-absolute"
        >5</span
      >
    </div>

    <div class="p-relative text-md icon-badge-wrapper">
      <i class="far fa-envelope"></i>
      <span
        class="badge icon-badge-position text-sm font-wt-bold rounded-full p-absolute"
        >5</span
      >
    </div>
  </body>
</html>
