:root{
    --modal-bg : #00000066;
    --modal-box-shadow-color : #92a1b080;

}
.modal-wrapper {
  top: 0;
  left: 0;
  background-color: var(--modal-bg);
  z-index: 1;
}

.modal-container{
    width: 40vw;
    background-color: var(--white-color);
}

@media (max-width:500px) {
    .modal-container{
      width: 60vw;
    }
}