<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert</title>
    <link rel="stylesheet" href="../../styles/main.css" />
    <link rel="stylesheet" href="./alert.css" />
  </head>
  <body>
    <!-- simple alerts  -->
    <div class="alert alert-primary text-sm mx-5 p-4 rounded-sm">
      This is Primary Alert Example
    </div>
    <div class="alert alert-danger text-sm mx-5 p-4 rounded-sm">
      This is Danger Alert Example
    </div>
    <div class="alert alert-success text-sm mx-5 p-4 rounded-sm">
      This is Success Alert Example
    </div>
    <div class="alert alert-warning text-sm mx-5 p-4 rounded-sm">
      This is Warning Alert Example
    </div>
    <!-- alerts with icons -->
    <div
      class="alert alert-primary text-sm mx-5 p-4 rounded-sm d-flex align-center"
    >
      <i class="fas fa-info-circle mr-4"></i>This is Primary Alert with icon
    </div>
    <div
      class="alert alert-danger text-sm mx-5 p-4 rounded-sm d-flex align-center"
    >
      <i class="fas fa-exclamation-triangle mr-4"></i>This is Danger Alert with
      icon
    </div>
    <div
      class="alert alert-success text-sm mx-5 p-4 rounded-sm d-flex align-center"
    >
      <i class="fas fa-check-circle mr-4"></i>This is Success Alert with icon
    </div>
    <div
      class="alert alert-warning text-sm mx-5 p-4 rounded-sm d-flex align-center"
    >
      <i class="fas fa-exclamation-triangle mr-4"></i>This is Warning Alert with
      icon
    </div>
    <!-- outlined alert -->
    <div
      class="alert alert-outlined alert-primary-outlined text-sm mx-5 p-4 rounded-sm d-flex align-center"
    >
      <i class="fas fa-info-circle mr-4"></i>This is Primary outlined Alert with
      icon
    </div>
    <div
      class="alert alert-outlined alert-danger-outlined text-sm mx-5 p-4 rounded-sm d-flex align-center"
    >
      <i class="fas fa-exclamation-triangle mr-4"></i>This is Danger outlined
      Alert with icon
    </div>
    <div
      class="alert alert-outlined alert-success-outlined text-sm mx-5 p-4 rounded-sm d-flex align-center"
    >
      <i class="fas fa-check-circle mr-4"></i>This is Success outlined Alert
      with icon
    </div>
    <div
      class="alert alert-outlined alert-warning-outlined text-sm mx-5 p-4 rounded-sm d-flex align-center"
    >
      <i class="fas fa-exclamation-triangle mr-4"></i>This is Warning outlined
      Alert with icon
    </div>
  </body>
</html>
