@import "./navbar.css";
@import "./footer.css";

/* component navigation menu */
.component-nav {
  top: 0;
  height: 100vh;
}
.component-nav-list {
  overflow-y: auto;
}
.comp-nav-link-item {
  color: var(--dark-text-color);
}
.comp-nav-link-item:hover {
  color: var(--primary-color);
}

/* code snippet */
.code-snippet {
  width: 97%;
  border: 0;
  transform: scale(1);
  overflow: scroll;
}

/* component container styles */
.component-container {
  margin-left: 10rem;
}
.component-wrapper {
  border: solid 1px var(--dark-text-color);
  background-color: var(--off-white-color);
}
