.footer {
  background-color: var(--primary-light-color);
}
.footer-social-icon {
  text-decoration: none;
  color: var(--dark-text-color);
}
.footer-social-icon:hover {
  color: var(--primary-color);
}
