.footer{
    background-color: var(--light-blue-color) ;
}
.footer-social-icon{
    text-decoration: none;
    color: var(--black-color);
}
.footer-social-icon:hover{
    color: var(--primary-color);
}