/* External Imports */

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";

/* utils imports */
@import "./variable.css";
@import "./typography.css";
@import "./padding.css";
@import "./margin.css";
@import "./border-radius.css";
@import "./lengths.css";
@import "./text-transform.css";
@import "./visibility.css";
@import "./display.css";
@import "./position.css";
@import "./box-shadow.css";
@import "./center.css";
@import "./flexbox.css";

/* components imports */

@import "../components/Alert/alert.css";
@import "../components/Button/button.css";
@import "../components/Image/image.css";
@import "../components/Input/input.css";
@import "../components/Avatar/avatar.css";
@import "../components/Badge/badge.css";
@import "../components/Modal/modal.css";
@import "../components/Navigation/navigation.css";


html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* reset css */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}


