/* heading typography */
.headline-xl {
  font-size: 4.8rem;
  line-height: 6.4rem;
}

.headline-lg {
  font-size: 3.2rem;
  line-height: 4rem;
}

.headline-md {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.headline-sm {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.headline-xs {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

/* text typography */

.text-xl {
  font-size: 4.8rem;
  line-height: 6.4rem;
}

.text-lg {
  font-size: 3.2rem;
  line-height: 4rem;
}

.text-md {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.text-sm {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-xs {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

/* font weight */
.font-wt-light {
  font-weight: 300;
}
.font-wt-regular {
  font-weight: 400;
}
.font-wt-semibold {
  font-weight: 500;
}
.font-wt-bold {
  font-weight: 700;
}
.font-wt-black {
  font-weight: 900;
}
/* text alignment */

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/* gray text */
.text-gray {
  color: var(--secondary-dark-color);
}
