:root {
  --black: #121212;
  --white: #fff;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/* reset css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}

/* heading typography */
.headline-xl {
  font-size: 4.8rem;
  line-height: 6.4rem;
}

.headline-lg {
  font-size: 3.2rem;
  line-height: 4rem;
}

.headline-md {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.headline-sm {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.headline-xs {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

/* text typography */

.text-xl {
  font-size: 4.8rem;
  line-height: 6.4rem;
}

.text-lg {
  font-size: 3.2rem;
  line-height: 4rem;
}

.text-md {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.text-sm {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-xs {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

/* font weight */
.fw-light {
  font-weight: 300;
}
.fw-regular {
  font-weight: 400;
}
.fw-semibold {
  font-weight: 600;
}
.fw-bold {
  font-weight: 700;
}
.fw-black {
  font-weight: 900;
}

/* spacing */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.8rem;
}
.p-2 {
  padding: 1.6rem;
}
.p-3 {
  padding: 2.4rem;
}
.p-4 {
  padding: 3.2rem;
}
.p-5 {
  padding: 4rem;
}
.p-6 {
  padding: 6.4rem;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.8rem;
}
.m-2 {
  margin: 1.6rem;
}
.m-3 {
  margin: 2.4rem;
}
.m-4 {
  margin: 3.2rem;
}
.m-5 {
  margin: 4rem;
}
.m-6 {
  margin: 6.4rem;
}
.ml-auto{
  margin-left: auto;
}

/* border-radius */
.br-sm {
  border-radius: 0.5rem;
}
.br-md {
  border-radius: 1rem;
}
.br-lg {
  border-radius: 1.5rem;
}
.br-round {
  border-radius: 99.9rem;
}
/* width */

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
.w-auto {
  width: auto;
}
/* height */
.h-25 {
  height: 25%;
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}
.h-100 {
  height: 100%;
}
.h-auto {
  height: auto;
}
/* text transform */
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
/* visibility */
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
/* display */

.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-none {
  display: none;
}

/* position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-sticky {
  position: sticky;
}

/* box shadow  */
.bs-sm {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bs-md {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bs-lg {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* center things */
.text-center {
  text-align: center;
}
.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* flexbox */
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-sb{
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
