:root {
  --dark-text-color: #1a2027;
  --off-white-color: #f7f7f7;
  
  --black-color:#000;
  --white-color: #fff;
  
  --primary-faint-color:#f2f6fe;
  --primary-light-color: #8dc3f5;
  --primary-color: #0066ff;
  --primary-dark-color: #0044e5;
  
  --secondary-faint-color:#ebebeb;
  --secondary-light-color: #d0d1d2;
  --secondary-color:#a9a9a9;
  --secondary-dark-color: #808080;
 
  --danger-light-color:#FED7D7;
  --danger-color: #f44336;
  --danger-dark-color: #d31609;
  
  --success-light-color:#C6F6D5;
  --success-color: #4caf50;
  --success-dark-color: #0d8611;
  
  --warning-light-color:#FEEBC8;
  --warning-color: #ff9204;
}
