:root {
  --black-color: #333;
  --white-color: #fff;
  --primary-color: #0054a3;
  --secondary-color: #ff9204;
  --light-blue-color:#8dc3f5;
  --danger-color: #f44336;
  --success-color: #4caf50;
  --warning-color: #ff9204;
}